{% extends "WHSmartAdminBundle::popup.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %} Supprimer {% endblock %}

{% block body %}

{{ form_start(form) }}

    <div class="padded">

        Etes vous sûre de vouloir supprimer le compte
        <h3>" {{ User.name }} " ? </h3>
    </div>

    {{ Smart.modalSubmitBtn(form, {'btnSuccess' : 'supprimer'}) }}

{{ form_end(form) }}

{{ Smart.modalSubmitAjax() }}

{% endblock %}

