{# src/WH/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "WHSmartAdminBundle::layout_public.html.twig" %}

{% block main %}


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
            <h1 class="txt-color-red login-header-big">Whatson Crm</h1>
            <div class="hero">

                <div class="pull-left login-desc-box-l">
                    <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!</h4>
                    <div class="login-app-icons">
                        <a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
                        <a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
                    </div>
                </div>

                <img src="{{ asset('bundles/whsmartadmin/images/demo/iphoneview.png')}}" class="pull-right display-image" alt="" style="width:210px">

            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h5 class="about-heading">Not just your average template!</h5>
                    <p>
                        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
                    </p>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <div class="well no-padding">
                <form action="{{ path('wh_admin_security_check') }}" id="login-form" class="smart-form client-form" method="post">
                    <header>
                        Identification
                    </header>

                    <fieldset>

                        {# S'il y a une erreur, on l'affiche dans un joli cadre #}
                        {% if error %}
                            <div class="alert alert-danger">{{ error.message }}</div>
                        {% endif %}

                        <section>
                            <label class="label">E-mail</label>
                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                <input type="email" id="username" name="_username" value="{{ last_username }}" />
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Entrez votre adresse email</b></label>
                        </section>

                        <section>
                            <label class="label">Mot de passe</label>
                            <label class="input"> <i class="icon-append fa fa-lock"></i>
                                <input type="password" id="password" name="_password" />
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Saisissez votre mot de passe</b> </label>
                            <div class="note">
                                <a href="{{ path('fos_user_resetting_request') }}">Mot de passe perdu ?</a>
                            </div>
                        </section>


                        <section>
                            <label class="checkbox">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <i></i>Rester connecté</label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            Identification
                        </button>
                    </footer>
                </form>

            </div>

        </div>
    </div>

{% endblock %}